/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

#wp-dev-dashboard-settings .nav-tab-wrapper .dashicons {
	position: relative;
	bottom: -0.1em;
	font-size: 1.3em;
}

.wpdd-loading-div {
	margin: 1em 0;
}

.wpdd-loading-div span {
	margin-top: 0;
	vertical-align: middle;
}

.wp-dev-dashboard-metaboxes {
	overflow: hidden;
	margin-top: 1em;
}

.wpdd-ticket-count {
	float: right;
	margin-right: 1em;
}

.dashicons.wpdd-resolved,
li.wpdd-resolved .dashicons {
	color: #7ad03a;
}

.dashicons.wpdd-unresolved,
li.wpdd-unresolved .dashicons {
	color: #dd3d36;
}

#wp-dev-dashboard-settings .button + .button {
	margin-left: 0.75em;
}

#wp-dev-dashboard-settings .spinner {
	float: none;
}