/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

#wp-dev-dashboard-settings .nav-tab-wrapper .dashicons {
	position: relative;
	bottom: -0.1em;
	font-size: 1.3em;
}


/* Refresh Buttons
--------------------------------------------- */
.wpdd-refresh-button-container {
	float: right;
}

#wp-dev-dashboard-settings .spinner {
	display: none;
	float: none;
}

#wp-dev-dashboard-settings .spinner.is-active {
	display: inline-block;
}

.wpdd-loading-div {
	margin: 1em 0;
}

.wpdd-loading-div span {
	margin-top: 0;
	vertical-align: middle;
}

/* Content - Sub Tabs
--------------------------------------------- */
.wpdd-sub-tab-nav {
	font-size: 0;
}

.wpdd-sub-tab-nav .button {
	margin: 0 !important;
}

.wpdd-sub-tab-nav .button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.wpdd-sub-tab-nav .button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#wp-dev-dashboard-settings .nav-tab-wrapper .button .dashicons {
	bottom: -0.25em;
}

.wpdd-sub-tab-container {
	margin: 1em 0;
}

.wppd-sub-tab {
	display: none;
}

.wppd-sub-tab.active {
	display: block;
}

/* Content - Metaboxes
--------------------------------------------- */
.wp-dev-dashboard-metaboxes {
	overflow: hidden;
	margin-top: 1em;
}

.wpdd-ticket-count {
	float: right;
	margin-right: 1em;
}

.dashicons.wpdd-resolved,
li.wpdd-resolved .dashicons {
	color: #7ad03a;
}

.dashicons.wpdd-unresolved,
li.wpdd-unresolved .dashicons,
.wpdd-needs-update {
	color: #dd3d36;
}

/* Content - Table
--------------------------------------------- */
#wp-dev-dashboard-settings .tablenav {
	display: none;
}